{% extends 'base.html.twig' %}

{% block title %}KoJira About!{% endblock %}

{% block body %}
    <h1>About</h1>
    <p>KoJira is a Symfony Project to learn PHP and Framework</p>
    <p></p>
{% endblock %}

