{% extends 'base.html.twig' %}

{% block title %}KoJira App!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">KoJira!</h1>
        <p class="lead">A simple application for project and task management.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ url('home_about') }}" role="button">Learn more about</a>
    </div>
{% endblock %}

