{% extends 'base.html.twig' %}

{% block title %}Worktime{% endblock %}

{% block body %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Time spend</th>
    </tr>
  </thead>
  <tbody>
    {% for worktime in worktimes %}
        <tr>
            <th scope="row">{{ worktime.id }}</th>
            <td>{{ worktime.title }}</td>
            <td>{{ worktime.description }}</td>
            <td>{{ worktime.time_spend | date("H:i")  }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
